<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gold.png</key>
			<dict>
				<key>rotated</key>
				<true/>
				<key>offset</key>
				<string>{0,0}</string>
				<key>frame</key>
				<string>{{313,62},{49,50}}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,50}}</string>
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>banknote_large.png</key>
			<dict>
				<key>rotated</key>
				<false/>
				<key>offset</key>
				<string>{0,0}</string>
				<key>frame</key>
				<string>{{0,0},{169,153}}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,153}}</string>
				<key>sourceSize</key>
				<string>{169,153}</string>
			</dict>
			<key>bi.png</key>
			<dict>
				<key>rotated</key>
				<false/>
				<key>offset</key>
				<string>{0,0}</string>
				<key>frame</key>
				<string>{{164,154},{146,103}}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,103}}</string>
				<key>sourceSize</key>
				<string>{146,103}</string>
			</dict>
			<key>dollar2.png</key>
			<dict>
				<key>rotated</key>
				<true/>
				<key>offset</key>
				<string>{0,0}</string>
				<key>frame</key>
				<string>{{95,272},{77,71}}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,71}}</string>
				<key>sourceSize</key>
				<string>{77,71}</string>
			</dict>
			<key>gold_large.png</key>
			<dict>
				<key>rotated</key>
				<false/>
				<key>offset</key>
				<string>{0,0}</string>
				<key>frame</key>
				<string>{{170,0},{142,149}}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,149}}</string>
				<key>sourceSize</key>
				<string>{142,149}</string>
			</dict>
			<key>dollar3.png</key>
			<dict>
				<key>rotated</key>
				<true/>
				<key>offset</key>
				<string>{0,0}</string>
				<key>frame</key>
				<string>{{167,258},{72,58}}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,58}}</string>
				<key>sourceSize</key>
				<string>{72,58}</string>
			</dict>
			<key>bidui.png</key>
			<dict>
				<key>rotated</key>
				<false/>
				<key>offset</key>
				<string>{0,0}</string>
				<key>frame</key>
				<string>{{0,154},{163,117}}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,117}}</string>
				<key>sourceSize</key>
				<string>{163,117}</string>
			</dict>
			<key>banknote.png</key>
			<dict>
				<key>rotated</key>
				<true/>
				<key>offset</key>
				<string>{0,0}</string>
				<key>frame</key>
				<string>{{313,0},{61,56}}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,56}}</string>
				<key>sourceSize</key>
				<string>{61,56}</string>
			</dict>
			<key>dollar.png</key>
			<dict>
				<key>rotated</key>
				<false/>
				<key>offset</key>
				<string>{0,0}</string>
				<key>frame</key>
				<string>{{0,272},{94,79}}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,79}}</string>
				<key>sourceSize</key>
				<string>{94,79}</string>
			</dict>
			<key>fenbi1.png</key>
			<dict>
				<key>rotated</key>
				<true/>
				<key>offset</key>
				<string>{0,0}</string>
				<key>frame</key>
				<string>{{226,258},{68,72}}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,72}}</string>
				<key>sourceSize</key>
				<string>{68,72}</string>
			</dict>
			<key>dollar4.png</key>
			<dict>
				<key>rotated</key>
				<false/>
				<key>offset</key>
				<string>{0,0}</string>
				<key>frame</key>
				<string>{{313,112},{49,43}}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,43}}</string>
				<key>sourceSize</key>
				<string>{49,43}</string>
			</dict>
			<key>banknote_large_2dec1c8c-a594-4bdd-9843-f123082aab73.png</key>
			<dict>
				<key>rotated</key>
				<false/>
				<key>offset</key>
				<string>{0,0}</string>
				<key>frame</key>
				<string>{{0,0},{169,153}}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,153}}</string>
				<key>sourceSize</key>
				<string>{169,153}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>currency-0.png</string>
			<key>size</key>
			<string>{369,351}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate:f050e0f5a6de980e0f76806304dfcf8b:1/1$</string>
			<key>textureFileName</key>
			<string>currency-0.png</string>
		</dict>
	</dict>
</plist>