<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>circle.png</key>
			<dict>
				<key>rotated</key>
				<false/>
				<key>offset</key>
				<string>{0,0}</string>
				<key>frame</key>
				<string>{{1,1},{128,128}}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>dot.png</key>
			<dict>
				<key>rotated</key>
				<false/>
				<key>offset</key>
				<string>{0,0}</string>
				<key>frame</key>
				<string>{{131,1},{128,128}}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>circle_c0806074-8650-4666-a4e4-a4db8ba40b44.png</key>
			<dict>
				<key>rotated</key>
				<false/>
				<key>offset</key>
				<string>{0,0}</string>
				<key>frame</key>
				<string>{{1,1},{128,128}}</string>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>SpriteFrame.png</string>
			<key>size</key>
			<string>{260,130}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate:f050e0f5a6de980e0f76806304dfcf8b:1/1$</string>
			<key>textureFileName</key>
			<string>SpriteFrame.png</string>
		</dict>
	</dict>
</plist>